<header>
    <!--NAVBAR-->
    <app-navbar></app-navbar>
    <div class="fade-in text-box">
        <p class="head">NOT JUST SOME SQUARS</p>
        <h1>POXELS</h1>
        <p>2666 collectibles in Polygon blockchain,<br>living their life in the metaverse</p>
        <a class="btn" href="https://opensea.io/collection/poxels-nft" target="_blank" rel="noopener noreferrer">View Collection</a>
    </div>
    <div class="header-image">
        <img class="poxel fade-in" src="./../../../assets/img/15.png" alt="">
    </div>
</header>

<main>
    <section class="whosarewe section">
        <h2 class="section-title">WHO'S ARE WE</h2>
        <div class="progress">
            <div class="progress-slot">
                <h1 class="value">6k</h1>
                <h4 class="title">items</h4>
            </div>
            <div class="progress-slot">
                <h1 class="value">10%</h1>
                <h4 class="title">sold</h4>
            </div>
            <div class="progress-slot">
                <h1 class="value">99</h1>
                <h4 class="title">traded</h4>
            </div>
        </div>
        <p class="about">Poxels is a collection of 2666 unique pixel art NFTs,<br>siting in Polygon Blockchain by holding a Poxel<br>uou will be able to participate in our NFT giveaways<br>and events.</p>
        <div class="poxels">
            <i class="uil uil-angle-left pre-btn btn"></i>
            <i class="uil uil-angle-right next-btn btn"></i>
            <div class="poxel-container">
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/0.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/1.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/3.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/4.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/5.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/6.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/7.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/8.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
                <div class="poxel-card">
                    <div class="poxel-img">
                        <img src="./../../../assets/img/slider/9.png"class="poxel-thumb" alt="">
                        <a href="" class="card-btn btn">BUY</a>
                    </div>
                    <div class="poxel-info">
                        <h2 class="poxel-name">Poxel #167</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap">
        <h2 class="section-title">ROADMAP</h2>
        <div class="road">
            <div class="road-slot fade-in from-left">
                <div class="road-slot-head">
                    <p class="selling-percentage">22%</p>
                    <h1>Community</h1>
                    <span>- May 17</span>
                </div>
                <p class="road-slot-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis necessitatibus iure quidem cum, dicta voluptates eius sequi molestias voluptatum, adipisci enim reprehenderit perferendis, laborum dolorem officia ea? Nulla, cumque.
                </p>
            </div>
            <div class="road-slot fade-in from-right">
                <div class="road-slot-head">
                    <p class="selling-percentage">22%</p>
                    <h1>Community</h1>
                    <span>- May 17</span>
                </div>
                <p class="road-slot-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis necessitatibus iure quidem cum, dicta voluptates eius sequi molestias voluptatum, adipisci enim reprehenderit perferendis, laborum dolorem officia ea? Nulla, cumque.
                </p>
            </div>
            <div class="road-slot fade-in from-left">
                <div class="road-slot-head">
                    <p class="selling-percentage">22%</p>
                    <h1>Community</h1>
                    <span>- May 17</span>
                </div>
                <p class="road-slot-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis necessitatibus iure quidem cum, dicta voluptates eius sequi molestias voluptatum, adipisci enim reprehenderit perferendis, laborum dolorem officia ea? Nulla, cumque.
                </p>
            </div>
            <div class="road-slot fade-in from-right">
                <div class="road-slot-head">
                    
<p class="selling-percentage">22%</p>
                    <h1>Community</h1>
                    <span>- May 17</span>
                </div>
                <p class="road-slot-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis necessitatibus iure quidem cum, dicta voluptates eius sequi molestias voluptatum, adipisci enim reprehenderit perferendis, laborum dolorem officia ea? Nulla, cumque.
                </p>
            </div>
            <div class="road-slot fade-in from-left">
                <div class="road-slot-head">
                    <p class="selling-percentage">22%</p>
                    <h1>Community</h1>
                    <span>- May 17</span>
                </div>
                <p class="road-slot-description">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus reiciendis necessitatibus iure quidem cum, dicta voluptates eius sequi molestias voluptatum, adipisci enim reprehenderit perferendis, laborum dolorem officia ea? Nulla, cumque.
                </p>
            </div>
        </div>
    </section>
</main>