<footer class="footer">
  <div class="social-menu">
    <ul>
      <li><a href="https://twitter.com/PoxelsNFT" target="_blank" rel="noopener noreferrer"><i class="uil uil-twitter"></i></a></li>
      <li><a href="https://www.instagram.com/poxel_nfts/" target="_blank" rel="noopener noreferrer"><i class="uil uil-instagram"></i></a></li>
      <li><a href="https://discord.com/invite/27D9jhRE78" target="_blank" rel="noopener noreferrer"><i class="uil uil-discord"></i></a></li>
    </ul>
  </div>
  <p class="sca"><a href="https://polygonscan.com/address/0x2953399124f0cbb46d2cbacd8a89cf0599974963" target="_blank" rel="noopener noreferrer">Smart Contract Adresse: 0x2953399124F0cBB46d2CbACD8A89cF0599974963</a></p>
</footer>