<footer class="footer">
<div class="footer-addr">
        
    <h2>Contact</h2>
    
    <address>
        mailto:example@gmail.com<br>
          
      <a class="btn" href="example@gmail.com">Email Us</a>
    </address>
  </div>
  
  <ul class="footer-nav">
    <li class="nav-item">
      <h2 class="nav-title">Media</h2>

      <ul class="nav-ul">
        <li>
          <a href="#">Youtube</a>
        </li>

        <li>
          <a href="#">Twitter</a>
        </li>

        <li>
          <a href="#">Instagram</a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item nav-item--extra">
      <h2 class="nav-title">Technology</h2>
      
      <ul class="nav-ul nav-ul--extra">
        <li>
          <a href="#">Hardware Design</a>
        </li>
        
        <li>
          <a href="#">Software Design</a>
        </li>
        
        <li>
          <a href="#">Digital Signage</a>
        </li>
        
        <li>
          <a href="#">Automation</a>
        </li>
        
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        
        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item">
      <h2 class="nav-title">Legal</h2>
      
      <ul class="nav-ul">
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        
        <li>
          <a href="#">Terms of Use</a>
        </li>
        
        <li>
          <a href="#">Sitemap</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p>&copy; 2022 Poxels. All rights reserved.</p>
  </div>
</footer>